body{
  background: rgb(80, 73, 61);
}
.App {
  text-align: center;
  color: white;
  
}
.edit-conf{
  margin-left: 50px;
  width: 100px;
  height: 50px;
  color: red;
  border-radius: 15px;
}
.edit-cancel{
  margin-left: 50px;
  width: 100px;
  height: 50px;
  color: red;
  border-radius: 15px;
}
.Edit{
  font-size: 25px;
  border-radius: 15px;
  color: rgb(195, 159, 159);
}
.delete,.complete{
  font-size: 20px;
  color: rgb(195, 159, 159);
  border-radius: 15px;
}
.edit{
  display: flex;
  align-items: center; 
  border-radius: 15px;


  }

.input{
  font-size: 25px;
  margin-top: 280px;
  border-radius: 15px;
}
.add
{
  margin-left: 50px;
  width: 100px;
  height: 50px;
  color: red;
  border-radius: 15px;
}
form{

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
